<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.dao.CarDAO">


    <!--更新员工信息-->
    <update id="update" parameterType="Car">
        update small_project_car set name=#{name},number=#{number},ship=#{ship},bir=#{bir}
        <if test="path!=null and path!=''">
            , path=#{path}
        </if>
        where id = #{id}
    </update>

    <!--根据id查询员工-->
    <select id="find" parameterType="String" resultType="Car">
        select id,name,number,ship,bir,path from small_project_car
        where id = #{id}
    </select>

    <!--删除员工信息-->
    <delete id="delete" parameterType="String">
        delete from small_project_car where id=#{id}
    </delete>

    <!--保存员工信息-->
    <insert id="save" parameterType="Car">
        insert into small_project_car values(#{id},#{name},#{number},#{ship},#{bir},#{path})
    </insert>

    <!--查询所有-->
    <select id="findAll" resultType="Car">
        select id,name,number,ship,bir,path from small_project_car
    </select>





</mapper>