<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.dao.UserDAO">



    <!--登录方法-->
    <select id="login" resultType="User">
        select id,username,realname,password,sex,role from small_project_user
        where username=#{username} and password = #{password} and role = #{role}
    </select>

    <!--注册-->
    <insert id="save" parameterType="User">
        insert into small_project_user values(#{id},#{username},#{realname},#{password},#{sex},#{role})
    </insert>


</mapper>