<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <title>login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/fruit/css/bootstrap.min.css"/>
    <script src="/fruit/js/vue.js"></script>
    <script src="/fruit/js/axios.min.js"></script>
</head>

<body>
<div id="wrap" class="container-fluid">
    <div id="top_content" class="row"  style="margin: 0 auto;">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="header">
                <div id="topheader">
                    <h1 class="text-center text-info">欢迎进入水果管理系统V1.0</h1>
                </div>
                <div id="navigation">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="content">
                <form method="post">
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text"  v-model="username" id="username" class="form-control" name="username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" id="password"  v-model="password"  class="form-control" name="password"/>                    </div>

                    <div >
                        选择身份:
                        <label class="radio-inline">
                            <input type="radio" v-model="role" name="inlineRadioOptions" id="inlineRadio1" checked value="admin"> 管理员
                        </label>
                        <label class="radio-inline">
                            <input type="radio" v-model="role" name="inlineRadioOptions" id="inlineRadio2" value="tourist"> 游客
                        </label>
                    </div>
                    <br>
                    <input type="button" style="width: 98%" @click="login"  class="btn btn-danger" value="登录&raquo;"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-8 col-sm-offset-2">
            <h5 class="text-center">Fruit@136.com</h5>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el:"#wrap",
        data:{
            username:"",
            password:"",
            role:"admin"
        },
        methods:{
            login(){
                console.log(this.username);
                console.log(this.password);
                console.log(this.role);
                axios.get("/fruit/user/login?username="+this.username+"&password="+this.password+"&role="+this.role).then(res=>{
                    console.log(res.data);
                    if(res.data.state){
                        alert(res.data.msg);
                        localStorage.setItem("user",JSON.stringify(res.data.user));
                        location.href="/fruit/emplist.html";
                    }else{
                        alert(res.data.msg);
                    }
                });
            }
        },
    })
</script>
