<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>update Car</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/car/css/bootstrap.min.css"/>
    <script src="/car/js/vue.js"></script>
    <script src="/car/js/axios.min.js"></script>
</head>

<body>
<div id="wrap">
    <div id="top_content" class="row" style="margin: 0 auto;">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="header">
                <div id="topheader">
                    <h1 class="text-center text-info">欢迎进入汽车管理系统V1.1</h1>
                </div>
                <div id="navigation">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="content">
                <p id="whereami">
                </p>
                <h1>
                    录入汽车信息:
                </h1>
                <form>
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" class="form-control" v-model="car.name" id="name" placeholder="输入汽车品牌">
                    </div>
                    <div class="form-group">
                        <label for="price">手机库存</label>
                        <input type="text" class="form-control" v-model="car.number" id="price" placeholder="输入库存">
                    </div>
                    <div class="form-group">
                        <label for="ship">描述</label>
                        <input type="text" class="form-control" v-model="car.ship" id="ship" placeholder="输入与汽车描述">
                    </div>
                    <div class="form-group">
                        <label for="bir">上市时间</label>
                        <input type="text" class="form-control" v-model="car.bir" id="bir" placeholder="输入汽车生日">
                    </div>
                    <div class="form-group">
                        <label for="photos">原始图片</label>
                        <img :src="car.path" style="height: 100px;" alt=""/>
                    </div>
                    <div class="form-group">
                        <label for="photos">新图片</label>
                        <input type="file" ref="file" id="photos" class="form-control" name="photos"/>
                    </div>

                    <button type="button" @click="updateEmp" style="width: 98%" class="btn btn-warning">确认添加</button>
                </form>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-8 col-sm-offset-2">
                <h5 class="text-center">Concat@136.com</h5>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: "#wrap",
        data: {
            user: {},
            car: {},
        },
        methods: {
            logout() {
                localStorage.removeItem("user");
                location.reload(true);
            },
            updateEmp() {
                //获取文件信息
                var photo = this.$refs.file.files[0];
                console.log(photo);
                const data = new FormData();
                data.append('photo', photo);
                data.append("id", this.car.id);
                data.append("name", this.car.name);
                data.append("number", this.car.number);
                data.append("bir", this.car.bir);
                data.append("ship", this.car.ship);
                axios.post('/car/car/update', data, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                }).then(res => {
                    console.log(res);
                    if (res.data.state) {
                        alert(res.data.msg);
                        location.href = "/car/emplist.html";
                    } else {
                        alert(res.data.msg);
                    }
                }).catch(err => {
                    console.log(err);
                });
            }
        },
        created() {
            var item = localStorage.getItem("user");
            var parse = JSON.parse(item);
            console.log(parse);
            if (item) {
                this.user = parse;
            } else {
                location.href = "/car/login.html";
            }
            //查询一个
            var id = location.href.substring(location.href.lastIndexOf("=") + 1);
            console.log(id);
            var _this = this;
            axios.get("/car/car/find?id=" + id).then(res => {
                _this.car = res.data;
            });
        }
    })
</script>